@font-face {
  font-family: 'Genshin';
  src: url('../font.ttf') format('truetype');
}

p {
    font-family: 'Genshin';
}

#scroll {
    width: 315px;
    height: 97vh;
}

#scroll::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

#scroll::-webkit-scrollbar-button {
    display: none;
}

#scroll::-webkit-scrollbar-track {
    border-radius: 30px;

    background: #F5F5F5;
}

#scroll::-webkit-scrollbar-thumb {
    border-radius: 30px;

    background: #C0C0C0;
}

#scroll::-webkit-scrollbar-thumb:hover {
    background: #B0B0B0;
}

#scroll::-webkit-scrollbar-thumb:active {
    background: #9F9F9F;
}


.namecard {
    border-radius: 30px;

    margin-bottom: 10px;

    overflow: hidden;

    width: 300px;
    height: 55px;

    vertical-align: center;

    background: #F0F0F0;

    user-select: none;

    transition: background 300ms;
}

.namecard:hover {
    background: #E0E0E0;

    transition: 300ms;
}

.namecard:active {
    background: #D0D0D0;

    transition: 50ms;
}

.namecard:last-child {
    margin-bottom: 0;
}

.image {
    float:  left;

    border-radius: 50%;

    margin-right: 10px;

    height: 55px;
    width: 55px;

    user-select: none;
}

.name {
    float: left;

    margin-top: 18px;

    user-select: none;
}

.teamcont {
    position: relative;
    float: left;

    margin-right: 10px;

    width: 90px;
    height: 115px;
}

.teamcont:last-child {
    margin-right: 0;
}

.teamcard {
    position: absolute;
    left: 0;
    top: 0;

    border-radius: 10px;

    overflow: hidden;

    width: 90px;
    height: 105px;

    background: #E0E0E0;

    user-select: none;

    transition: background 300ms;

}

.teamcard:hover {
    background: #C8C8C8;

    transition: 300ms;
}

.teamcard:active, .teamcard:focus {
    background: #B8B8B8;

    transition: 50ms;
}

.weapon {
    position: absolute;
    left: 0;
    top: 0;

    width: 25px;
    height: 25px;

    visibility: hidden;
}

.weapon[src] {
    visibility: visible;
}

.weapon[src=""] {
    visibility: hidden;
}

.teamimage {
    position: absolute;
    left: 0;
    top: 0;

    height: 90px;
    width: 90px;

    visibility: hidden;
}

.teamimage[src] {
    visibility: visible;
}

.teamimage[src="resources/plus.png"] {
    left: 20px;
    top: 20px;

    height: 50px;
    width: 50px;
}

.teamname {
    position: absolute;
    left: 0;
    top: 70px;

    text-align: center;

    width: 90px;
    height: 20px;

    color: #505050;
    background: #F0F0F0;

    font-size: 15px;
    line-height: 22px;
}

.remove {
    position: absolute;
    left: 0;
    top: 80px;

    border-radius: 0 0 10px 10px;

    margin-right: 10px;

    text-align: center;
    line-height: 32px;

    width: 90px;
    height: 25px;

    color: #FEFEFE;
    background: #F05050;

    user-select: none;

    transition: background 300ms;
}

.remove:hover {
    background: #E22525;

    transition: 300ms;
}

.remove:active {
    background: #D62525;

    transition: 50ms;
}

.remove:last-child {
    margin-right: 0;
}

.material {
    width: 368px;

    text-align: center;

    color: #505050;

    font-size: 13px;
}

@media (max-width: 750px) {
    .name {
        display: none;
    }

    .namecard {
        width: 80px;
    }

    #scroll {
        width: 95px;
    }
}