@font-face {
  font-family: 'Genshin';
  src: url('../font.ttf') format('truetype');
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}
@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

:root {
    --char-width: 390px;

    /* Colors */
    --lighterGray: #F0F0F0;
    --lightGray: #E0E0E0;
    --gray: #D0D0D0;
    --darkGray: #C0C0C0;
    --darkerGray: #B0B0B0;

    --lvInput: #FEFEFE;
    --weapLvInput: #FEFEFE;
    --wpInput: #FEFEFE;

    --cinnamon: #F2EEE6;
    --darkCinnamon: #CCBAAD;
    --darkerCinnamon: #9C8270;

    --ae: #AEAEAE;
    --be: #BEBEBE;
    --ce: #CECECE;
    --de: #DEDEDE;
    --ee: #EEEEEE;
    --fe: #FEFEFE;

    --bg: #FBFAFF;

    --dark: #505050;
    --black: #303030;
    --blackest: #020202;

    --sliderBG: #F5F5F5;
    --sliderHandle: #9F9F9F;

    --teamCardHover: #C8C8C8;
    --teamCardActive: #B8B8B8;

    --removeHover: #E22525;
    --removeActive: #D62525;

    --materialColor: #917764;
    --materialTitleColor: #7D624D;
}

p {
    user-select: none;

    font-family: "Genshin";

    color: var(--black);
}

label {
    font-family: verdana;
    font-size: 15px;

    color: var(--text-color);

    transition: .4s;
}

input {
    border-radius: 2px;

    outline: none;

    font-family: "Genshin";

    color: var(--black);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;

    margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

#optImg{
    image-rendering: -webkit-optimize-contrast;
}

#scroll {
    width: 315px;
    height: calc(97vh - 85px);
}

.specialScroll::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.specialScroll::-webkit-scrollbar-button {
    display: none;
}

.specialScroll::-webkit-scrollbar-track {
    border-radius: 30px;

    background: var(--sliderBG);
}

.specialScroll::-webkit-scrollbar-thumb {
    border-radius: 30px;

    background: var(--darkGray);
}

.specialScroll::-webkit-scrollbar-thumb:hover {
    background: var(--darkerGray);
}

.specialScroll::-webkit-scrollbar-thumb:active {
    background: var(--sliderHandle);
}

.namecard {
    border-radius: 30px;

    margin-bottom: 10px;

    overflow: hidden;

    width: 300px;
    height: 55px;

    vertical-align: center;

    background: var(--lighterGray);

    user-select: none;

    transition: 300ms;
}

.namecard:hover {
    background: var(--lightGray);

    transition: 300ms;
}

.namecard:active {
    background: var(--gray);

    transition: 50ms;
}

.namecard:last-child {
    margin-bottom: 0;
}

.image {
    float: left;

    border-radius: 50%;

    margin-right: 10px;

    height: 55px;
    width: 55px;

    user-select: none;
}

.star {
    float: right;

    border-radius: 50%;

    margin-right: -2px;
    margin-top: 17px;

    height: 20px;
    width: 20px;

    user-select: none;
}

.name {
    float: left;

    color: var(--black);

    margin-top: 18px;

    user-select: none;
}

.weapname {
    float: left;

    color: var(--black);

    margin-top: 18px;

    user-select: none;
}

.teamcont {
    position: relative;
    float: left;

    border-radius: 10px;

    margin-right: 10px;

    width: 90px;
    height: 115px;

    box-shadow: 0px 0px 9px 0px var(--darkerGray);
}

.teamcont:last-child {
    margin-right: 0;
}

.teamcard {
    position: absolute;
    left: 0;
    top: 0;

    border-radius: 10px;

    overflow: hidden;

    width: 90px;
    height: 105px;

    background: var(--lightGray);

    user-select: none;

    transition: background 300ms;

}

.teamcard:hover {
    background: var(--teamCardHover);

    transition: 300ms;
}

.teamcard:active, .teamcard:focus {
    background: var(--teamCardActive);

    transition: 50ms;
}

.weapon {
    position: absolute;
    left: 0;
    top: 0;

    width: 25px;
    height: 25px;

    visibility: hidden;
}

.weapon[src] {
    visibility: visible;
}

.weapon[src=""] {
    visibility: hidden;
}

.teamimage {
    image-rendering: -webkit-optimize-contrast;

    position: absolute;
    left: 0;
    top: 0;

    height: 90px;
    width: 90px;

    visibility: hidden;
}

.teamimage[src] {
    visibility: visible;
}

.teamimage[src="resources/plus.png"] {
    left: 20px;
    top: 20px;

    height: 50px;
    width: 50px;
}

.teamname {
    position: absolute;
    left: 0;
    top: 69px;

    text-align: center;

    width: 90px;
    height: 21px;

    color: var(--black);
    background: var(--lighterGray);

    font-size: 15px;
    line-height: 22px;
}

.levelinput {
    width: 20px;

    border: none;

    text-align: center;
    background: var(--lvInput);
}

.weaplevinput {
    background: var(--weapLvInput) !important;
}

.nameinput {
    border: none;

    border-radius: 5px;

    text-align: center;
    background: var(--fe);
}

.materialGlobContCont {
    width: 100%;
    height: 35px;
}

.materialGlobCont {
    margin-left: auto;
    margin-right: auto;

    width: 340px;
}

.materialImageCont {
    position: relative;

    left: 0px;
    top: 0px;

    width: 34px;
    height: 34px;

    border-radius: 6px;

    float: left;

    background: linear-gradient(225deg, var(--darkCinnamon), var(--darkerCinnamon), var(--darkCinnamon));
}

.materialImage {
    position: relative;

    left: 2px;
    top: 2px;

    width: 30px;
    height: 30px;

    border-radius: 4px;
    background: linear-gradient(var(--darkerCinnamon), var(--darkCinnamon));
}

.floatLeft {
    position: relative;

    text-align: left !important;

    left: 6px;
    top: 10px;
}

.floatRight {
    position: relative;

    text-align: right !important;

    right: 0px;
    bottom: 17px;
}

#charFind {
    border: none;

    border-radius: 5px;

    text-align: left;
    background: var(--lvInput);

    width: 285px;
    height: 25px;

    padding-left: 10px;

    margin-left: 5px;
    margin-bottom: 5px;
}

#weapFind {
    border: none;

    border-radius: 5px;

    text-align: left;
    background: var(--wpInput);

    width: 320px;
    height: 25px;

    flex-shrink: 0;

    padding-left: 10px;

    margin-left: 5px;
    margin-bottom: 5px;
}

#targetinput {
    background: var(--lighterGray);
}

.remove {
    position: absolute;
    left: 0;
    top: 80px;

    border-radius: 0 0 10px 10px;

    margin-right: 10px;

    text-align: center;
    line-height: 32px;

    width: 90px;
    height: 25px;

    color: #FEFEFE;
    background: #F05050;

    user-select: none;

    transition: background 300ms;
}

.remove:hover {
    background: var(--removeHover);

    transition: 300ms;
}

.remove:active {
    background: var(--removeActive);

    transition: 50ms;
}

.remove:last-child {
    margin-right: 0;
}

.materialTitle {
    width: 100%;

    text-align: center;

    color: var(--materialTitleColor);

    font-size: 14px;
}

.material {
    text-align: center;

    color: var(--materialColor);

    font-size: 12px;
}

.click {
    background: transparent;

    user-select: none;

    transition: background 300ms;
}

.click:hover {
    background: var(--lightGray);

    transition: 300ms;
}

.click:active {
    background: var(--darkGray);

    transition: 50ms;
}

.click-out {
    background-color: var(--lightGray);

    user-select: none;

    transition: background 300ms;
}

.click-out:hover {
    background-color: var(--darkGray);

    transition: 300ms;
}

.click-out:active {
    background-color: var(--darkerGray);

    transition: 50ms;
}


.submBut {
    background-color: var(--gray);

    border: none;

    border-radius: 10px;

    height: 32px;
    margin: 2px;

    margin-top: 10px;

    transition: background 300ms;
}

.submBut:hover {
    background-color: var(--darkGray);

    transition: 300ms;
}

.submBut:active {
    background-color: var(--darkerGray);

    transition: 50ms;
}

/* Due to certain CSS limitation it's very hard to make it fade out so i'll just use a fade in */
#popup-cover {
    -webkit-animation: fadeIn 0.3s;
    animation: fadeIn 0.3s;
}

#weap-popup-cover {
    -webkit-animation: fadeIn 0.3s;
    animation: fadeIn 0.3s;
}

.weapImg {
    width: 60px;
    height: 60px;

    background-color: var(--de);

    margin-right: 40px;

    border-radius: 30%;

    box-shadow: 0px 0px 9px 0px var(--darkerGray);

    transition: 300ms;
}

.weapImg:hover {
    background-color: var(--ce);
}

.weapImg:active {
    background-color: var(--be);
    transition: 50ms;
}

.weapImg:last-child {
    margin-right: 0;
}

.weapImg2 {
    width: 80px;
    height: 80px;

    background-color: var(--ce);

    box-shadow: 0px 0px 10px 0px var(--darkerGray);

    border-radius: 30%;
}


.check {
    position: absolute;
    left: 70px;
    top: 88px;

    margin: 0;
    padding: 0;

    height: 13px;
}

.acdecButton {
    border: none;

    border-radius: 10px;

    background-color: var(--ce);

    height: 30px;
    width: 90px;

    transition: 300ms;
}

.acdecButton:hover {
    background-color: var(--be);
}

.acdecButton:active {
    background-color: var(--ae);

    transition: 50ms;
}

#matContainer {
    width: calc(100vw - var(--char-width)); 
    min-width: 400px;
}

#nightSwitch {
    position: absolute;

    top: 20px;

    right: 10px;

    z-index: 10002;
}

.switch {
    position: relative;
    display: inline-block;
    width: 44px;
    height: 18px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--ee);

    transition: .4s;

    border-radius: 30px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 3px;
    bottom: 3px;
    background-color: var(--dark);

    transition: .4s;

    border-radius: 30px;
}

input:checked + .slider {
    background-color: var(--dark);
}

input:checked + .slider:before {
    background-color: var(--ee);
    transform: translateX(26px);
}

@media (max-width: 770px) {
    .name {
        display: none;
    }

    .namecard {
        width: 80px;
    }

    #scroll {
        width: 95px;
    }

    #shrink {
        width: 110px !important;
    }

    #grow {
        width: calc(100vw - 160px) !important;
    }

    #charFind {
        width: 85px;
    }

    :root {
        --char-width: 160px;
    }

    /*#matContainer {
        width: 400px !important;
    }*/
}


@media (max-width: 580px) {
    #unusable {
        display: block !important;
    }
}